@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@font-face {
    font-family: miama;
    src: url(Miama-Regular.ttf);
  }
*{   
    margin: 0;
}
img{
    width: 100%;
}
/* shared styles */
.padding-general{
    padding-left: 10%;
    padding-right: 10%;
}
.small-text,input::placeholder{
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: .9rem;
    font-weight: 400;
    line-height: 18px;
    padding: .85rem 0;
}
.semi-small{
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 120%;
    padding: 6px;
}
.large-text{
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 3rem;
    font-weight: 900;
    line-height: 120%;
}
.semi-large-text{
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 1.8rem;
    font-weight: 900;
    line-height: 120%;
}
.medium-text{
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 1.1rem;
    font-weight: 600;
}
.btn-primary{
    border-radius: 42px;
    background: rgb(230, 83, 60);
    width: 12rem;
    padding: 1rem;
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 1.1rem;
    font-weight: 600;
    margin: 35px 2% 0 0;
}
.flex-display{
    display: flex;
}
.black-background{
    background: black;
}
.medium-large-text{
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 2.5rem;
    font-weight: 900;
    line-height: 2.5rem;
    margin-bottom: 5px;
}
/* nav and banner section styles */
#hero-desc{
    font-size: 1rem;
    width: 30rem;
    line-height: 24px;
}
#downloadapp{
    box-sizing: border-box;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 42px;
    background-color: rgba(0, 0, 0, 100%);
}
.nav-item-container{
    list-style: none;
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 39px;
    gap: 2.8rem;
    padding: 0;
    justify-content: space-between;
}
.nav-bar{
    justify-content: space-between;
}
.nav-title{
    font-family: inter;
    font-size: 2.2rem;
    font-style: italic;
    font-weight: 800;
    color: #E6533C;
}
.nav-item{
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 1.1rem;
    font-weight: 400;
    padding: 10px 20px;
}
.home{
    border-radius: 46px;
    background: rgb(230, 83, 60);
}
.banner{
    padding-top: 57px;
    background: linear-gradient(to right, #111111,#111111e5);
}
.hero-section{
    justify-content: space-between;
    padding-top: 2rem;
}
.hero-head{
    width: 27rem;
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 4.5rem;
    font-weight: 900;
    line-height: 120%;

}
.hero-text{
    margin-top: 4rem;
    margin-bottom: 4rem;

}
.hero-img{
    background: url("../images/Images\ 2.png");
    background-position: right;
    background-repeat: no-repeat;
    justify-content: space-between;
    align-items:end;
    
}
.curve{
    font-family: Miama;
    font-weight: 400
}
.tutorial-box{
    box-sizing: border-box;
    padding: 5% 2% 5% 5%;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(5px);
    background: rgba(48, 48, 48, 0.54);
    width: 11rem;
    height: 6rem;
    position: relative;
}
.bottom-box{
    right: 4.5rem;
    bottom: 2.5rem;
    display: flex;
    gap:.5rem
}
.top-box{
    bottom: 63%;
    left: 8%;
}
.vtnum{
    font-size: 1.5rem;
}
.play-button{
    margin: 8% 0;
    color: white;
    padding: 6px 0;
    width: 2rem;
    height: max-content;
    align-items: center;
    font-size: 1rem;
    text-align: center;
    border-radius: 50%;
    background-color: #E6533C;
}
/* Change your Habit */
.change-habit{
    text-align: center;
    padding-top: 6rem;
    padding-bottom: 6rem;
}
.moves img{
    border-radius: 50% ;
    width: 14vw;
}
.moves div{
    width: 14vw;
}
.moves{
    padding-top: 3.2rem;
    justify-content: space-between;
    gap: 1rem;
}
.change-habit h4{
    margin: 30px 0 6px 0;
}
/* run extra mile  */
.run-extra{
    background: rgb(0, 0, 0);
}
.run-extra>div{
    border-radius: 18px;
    background: rgb(34, 34, 34);
}
.run-content{
    justify-content: space-between;
    padding: 2rem ;
    gap:1rem;
}
.run-img-div{
    max-width: 26rem;
    height: 23rem;
    overflow: hidden;
    border-radius: 20px;

}
.run-img-div img{
    width: 90rem;
    position: static;
    margin-left: -45rem;
    margin-top: -12rem;
}
.run-txt{
    max-width: 40%;
}
/* BMI Calc  */
.bmi-title{
    padding: 7% 22%;

}
.bmi-calc{
    background: rgb(34, 34, 34);
    justify-content: space-between;
    padding-top: 3.2rem;
    padding-bottom: 3.2rem;
}
.bmi-calc td,.bmi-calc th{
    padding: .85rem 10px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    width: 9rem;
    text-align: center;
}
.bmi-calc-d2{
    width: 40vh;
}

.bmi-calc table{border-collapse: collapse;}
.bmi-grid{
    display: grid;
    grid-template-columns: repeat(2, minmax(30%, 100%));
    gap:.8rem;
    margin-top: 2rem;
    
}
.bmi-grid *{
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.1);
    padding: 1rem;
    border: none;
}
#bmi-activity{
    grid-column: span 2;
}
/* Trainer collage */
.Trainer{
    text-align: center;
    padding-top: 5rem;
}
.trainer-collage{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    text-align: left;
    gap:20px;
    padding: 20px;
    background: rgb(34, 34, 34);
    border-radius: 20px;
    ;
    margin-top: 3.5rem;
}
.trainer-collage>div{
    height: 36vh;
    width: 100%;
    border-radius: 18px;
    margin: auto;
    opacity: 0.8;
    background-repeat: no-repeat; 
    background-size: cover; 
    background-position: center;
}
.trainer-collage h4,.trainer-collage p{
    position: relative;
    top:80%;
    left: 7%;
    padding: 0;
}
/* contacts */
.contacts{
    background: rgb(34, 34, 34);
    display: grid;
    grid-template-columns: 35% 20% 20%;
    padding-top: 4rem;
    gap: 5%;
    justify-content: space-between;
}
.contacts h3{
    padding-bottom: 20px;
}
hr{
    grid-column: span 3;
    border: 2px solid rgba(255, 255, 255, 0.1);
    margin: 5rem 0;
    width: 100%;
}
.collage-1{
    background: url(../images/trainer1.png);
}
.collage-2{
    background: url(../images/trainer2.png);
}
.collage-3{
    background: url(../images/trainer3.png);
}
.collage-4{
    background: url(../images/trainer4.png);
}
.collage-5{
    background: url(../images/trainer5.png);
}
.collage-6{
    background: url(../images/trainer6.png);
}
.copyright{
    grid-column: span 3;
    background: rgb(34, 34, 34);
    padding-bottom: 3rem;
    color: rgba(255, 255, 255, 0.5);
    text-align: center;
    font-weight: 400;
}
/* diet */
.diet{
    text-align: center;
    padding-top: 3rem;
}
.diet-collage{
    background: rgb(34, 34, 34);
    padding: 1rem;
    margin-top: 2rem;
    padding-bottom: 5.5rem;
    border-radius: 10px;
    display: grid;
    grid-template-columns: repeat(3,32%);
    grid-template-rows: repeat(2,50%);
    justify-content: center;
    gap: 3rem 1rem;
    width: 100%;
}
.diet-collage img{
    height:100%;
    object-position: center;
    object-fit: cover;
    border-radius: 10px;
}